@model SalesWebMvc.Models.ViewModels.SellerFormViewModel
@{
    ViewData["Title"] = "Create";
    List<Seller> testando = new List<Seller>(); // Certifique-se de substituir isso pela sua lista de departamentos
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-6">
        <form asp-action="Create">
            <!--VALIDAÇÃO EM FORMA DE SUMÁRIO REU-->
@*            <div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.Birthday" class="control-label"></label>
                <input asp-for="Seller.Birthday" class="form-control" />
                <span asp-validation-for="Seller.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label">Departamento</label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>
                <span asp-validation-for="Seller.DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-secondary mt-3" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
