@model SalesWebMvc.Models.ViewModels.SellerFormViewModel
@{
    ViewData["Title"] = "Editar";
    List<Seller> testando = new List<Seller>(); // Certifique-se de substituir isso pela sua lista de departamentos
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.Id" />
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.Birthday" class="control-label"></label>
                <input asp-for="Seller.Birthday" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label">Departamento</label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input class="btn btn-secondary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
